<div id="login_container">

  <% if current_user_session %>
    <%= link_to(image_tag(current_user.profile.avatar.url(:small), :id => 'logged_in_user_pic'), my_profile_path) %>
    <span id="logged_in_user">
      <%= I18n.t('users.user_sessions.login.hello', :name => current_user.full_name) %><br/>
    </span>
  <% else %>
    <%= link_to I18n.t('users.user_sessions.login.signin'), signin_path %>
		<%= I18n.t('application.general.or') %>
		<%= link_to I18n.t('users.user_sessions.login.signup'), signup_path %>
    <%# form_for UserSession.new, :url => user_session_path do |f| %>
      <%#= content_tag :span, I18n.t('users.user_sessions.login.email'), :class => 'label' %>
      <%#= content_tag :span, I18n.t('users.user_sessions.login.password'), :class => 'label' %>
			<%#= tag('br') %>
      <%#= f.text_field :email, :class => 'loginField' %>
      <%#= f.password_field :password, :class => 'loginField' %>
      <%#= f.hidden_field :redirect_url, :value => request.url %>
      <%#= f.submit 'Login', :class => 'loginButton' %>
			<%#= tag('br') %>
    <%# end %>
    <%# ajax_class = params[:controller].match(%r[static|users])? 'ajaxLink' : '' %>
    <%#= link_to I18n.t('users.user_sessions.login.signup'), join_path, :class => "#{ajax_class} bottomLabel" %>
    <%#= link_to I18n.t('users.user_sessions.login.set_password'), new_password_reset_path, :class => "#{ajax_class} bottomLabel" %>
		<%#= tag('br') %>
  <% end %>

</div>
