<div id="questions_container">


  <%
    count = @count
    if count < 2
      count_text = I18n.t('discuss.results_count.one', :count => count)
    else
      count_text = I18n.t('discuss.results_count.more', :count => count)
    end
  %>

  <!--<span class="results_count"><%- count_text %></span>-->
  <!--<span class="results_sort"/>-->

  <span id="results_anchor"></span>

  <div id="discuss_results" class="results_container rounded-box rounded-box-gray-itow with-header with_bg_bw_grad">
    <span class="box_header"><%= count_text %></span>
    <span class="box_header_border"></span>
    <span class="box_header_icon"></span>

    <ul>
	  <% if not statements.empty? %>
	    <%= render :partial => 'questions/question', :collection => statements %>
	  <% else %>
	    <span class="no_results"><%= I18n.t('discuss.messages.empty') %></span>
	  <% end %>
	</ul>
    <%= will_paginate statements , :previous_label => '', :next_label => '', :params => {:controller => :discuss} if defined? statements.total_pages %>
  </div>

</div>


<!--div id="questions_container">
  <% statements ||= @statements %>
  <ul>
    <% statements.each do |statement| -%>
      <li><%= link_to(statement.document.title, question_url(statement), :class => 'statement_link question_link') %></li>
    <% end -%>
  </ul>
</div-->

