<h1><%= I18n.t('discuss.topics_overview.title') %></h1>

<%= I18n.t('discuss.topics_overview.text') %><br/>

<%= render :partial => 'topic', :locals => {:category => "echonomyjam", :image_path => "../images/page/discuss/topics/echonomyJAM.png" }%>
<%= render :partial => 'topic', :locals => {:category => "echocracy", :image_path => "../images/page/discuss/topics/echocracy.png" }%>
<%= render :partial => 'topic', :locals => {:category => "echo", :image_path => "../images/page/discuss/topics/echo.png" }%>
<%= render :partial => 'topic', :locals => {:category => "echosocial", :image_path => "../images/page/discuss/topics/echonomyJAM.png" }%>
