<div id="personal_container" class="header_block">
  <h2><%= I18n.t('users.profile.edit_title') %></h2>

  <% semantic_form_for @profile, :html => { :id => 'edit_profile_form' } do |form| %>

    <% form.inputs do %>
      <%= form.input :full_name %>
      <%= form.input :female,
                     :as => :radio,
                     :label => Profile.human_attribute_name(:gender),
                     :collection => Profile.gender.collect { |k,v| [v,k] } %><br/>
      <%= form.input :country %>
      <%= form.input :city %>
      <%= form.input :about_me,
                     :as => :text,
                     :input_html => { :rows => 5, :cols => 30 } %>
      <%= form.input :motivation,
                     :as => :text,
                     :input_html => { :rows => 5, :cols => 30 } %>
    <% end %>

    <!-- Save & cancel buttons -->
    <% form.buttons do %>
      <%= form.commit_button I18n.t('application.general.save'),
                             :button_html => { :alt => 'save_button' } %>
      <span class="or_cancel">
        <%= I18n.t('application.general.or') %>
      </span>
      <%= link_to I18n.t('application.general.cancel'),
                  profile_path,
                  :class => 'ajax text_button cancel_text_button' %>
    <% end %>
  <% end %>
</div>
