<div id="spoken_languages_container" class="header_block">
  <h2><%= I18n.t('users.spoken_languages.title') %></h2>
  
  <div class="guide">
    <%= I18n.t('users.spoken_languages.guide') %>
  </div>

  <ul id="spoken_language_list">
    <li>
      <span class="column_200 label"><%= I18n.t('users.spoken_languages.language') %></span>
      <span class="column_200 label"><%= I18n.t('users.spoken_languages.level') %></span>
    </li>
    <%= render :partial => 'users/spoken_languages/spoken_language', :collection => @user.spoken_languages %>
  </ul>
  <ul>
    <%= render :partial => 'users/spoken_languages/new' %>
  </ul>

</div>
