<% form_tag user_spoken_language_path(@user, @spoken_language), :method => :put, :id => dom_id(@spoken_language, :edit) do -%>

  <%= select_tag 'spoken_language[language]', options_for_select(EnumKey.languages.collect { |l| [l.get_current_enum_value.value,l.id] }, @spoken_language.language.id), :disabled => true %>
  <%= select_tag 'spoken_language[level]', options_for_select(EnumKey.language_levels.collect { |l| [l.get_current_enum_value.value,l.id] }, @spoken_language.level.id) %>
  <%= hidden_field :user_id, :value => @user.id %>
  <%= submit_tag I18n.t('application.general.save'), :class => 'text_button save_button' %>
  <span class="or_button"><%= I18n.t('application.general.or') %></span>  
  <%= link_to I18n.t('application.general.cancel'), user_spoken_language_path(@user, @spoken_language), :class => 'ajax text_button cancel_button' %>

<%- end %>

<script type="text/javascript">
  $("#<%= dom_id(@spoken_language, :edit) %>").ajaxForm({ dataType: 'script' }); 
</script>
