<% @spoken_language = spoken_language if spoken_language.present? %>

<li id="<%= dom_id(@spoken_language) %>" >
  <span class="column_200 value"><%=h I18n.t(@spoken_language.language) %></span>
  <span class="column_200 value"><%=h I18n.t(@spoken_language.level) %></span>

  <%= link_to I18n.t('application.general.edit'), edit_user_spoken_language_path(@spoken_language.user, @spoken_language), :class => "ajax text_button edit_button" %>
  <%= link_to I18n.t('application.general.delete'), user_spoken_language_path(@spoken_language.user, @spoken_language), :class => "ajax_delete text_button delete_button" %>
</li>
