<% style ||= "" %>
<div class="content change_email" style="<%= style %>">
	<div class="guide">
    <%= I18n.t("users.echo_account.change_email.guide", :email => current_user.email) %>
  </div>
	<% form_for current_user,
              :url => url_for(:controller => "users/users",
                              :action => "update_email"),
              :method => :put,
              :html => {:class => 'ajax_form echoForm'} do |f| %>
     <p>
       <%= f.label I18n.t('application.general.email') %><br/>
       <%= f.text_field :email, :value => '' %>
     </p>
	   <p>
       <%= f.label I18n.t('application.general.email_confirmation') %><br/>
       <%= f.text_field :email_confirmation %>
	   </p>
		 <p>
       <%= f.label I18n.t('users.echo_account.change_email.password') %><br/>
       <%= f.password_field :password %>
     </p>
    <%= f.submit I18n.t('application.general.ok'), :class => 'signinup_button form_button_200' %>
	<% end %>
</div>