<% style ||= "" %>
<div class="content" style="<%= style %>">
	<div class="guide">
    <%= I18n.t("users.echo_account.change_password.guide") %>
  </div>
	<% form_for current_user, :url => url_for(:controller => "users/users", :action => "update_password"), :method => :put, :html => {:class => 'ajax_form echoForm'} do |f| %>
	   <%= label_tag I18n.t('users.profile.password.old') %><br />
     <%= password_field_tag :old_password %><br /><br />
		 <%= f.label I18n.t('users.profile.password.new') %><br />
     <%= f.password_field :password %><br /><br />
		 <%= f.label I18n.t('users.profile.password.confirm') %><br />
     <%= f.password_field :password_confirmation %><br /><br />
		 <br /><br />
    <%= f.submit I18n.t('application.general.ok'), :class => 'signupButton formButton200' %>
	<% end %>
</div>