<% style ||= "" %>
<div class="content change_password" style="<%= style %>">
	<div class="guide">
    <%= I18n.t("users.echo_account.change_password.guide") %>
  </div>
	<% form_for current_user,
              :url => url_for(:controller => "users/users",
                              :action => "update_password"),
              :method => :put,
              :html => {:class => 'ajax_form echoForm'} do |f| %>

    <p>
      <%= label_tag I18n.t('users.profile.password.old') %><br/>
      <%= f.password_field :old_password %>
	  </p>
    <p>
      <%= f.label I18n.t('users.profile.password.new') %><br/>
      <%= f.password_field :password %>
    </p>
		<p>
      <%= f.label I18n.t('users.profile.password.confirm') %><br/>
    <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit I18n.t('application.general.ok'),
                 :class => 'signinup_button form_button_200' %>
	<% end %>
</div>