<div class='registry'>
	<div id="setup_basic_profile" class='modal_form_container'>
	   <%= content_tag :span, content_tag(:h1, I18n.t('users.signin.setup_basic_profile')), :class => 'sign_in logo'%>
		 <% form_for @user, :url => user_path, :method => :put, :html => {:class => "echoForm ajax_form",:id => 'new_user_form'} do |f| %>
		 <div class='setup_basic_profile_container'>
		 	  <p>
          <%= f.label I18n.t('application.general.first_name') %><br />
          <%= f.text_field :first_name %><br />
        </p>
        <p>
          <%= f.label I18n.t('application.general.last_name') %><br />
          <%= f.text_field :last_name %><br />
        </p>
        
        <%= tag('br');tag('br') %>
        <%= f.submit I18n.t('application.general.save'), :class => 'signinButton formButton200' %>
		 </div>
		 <div class='setup_basic_profile_container'>
		 	  <% if !@profile_info['photo'].blank? %>
			 	  <%= image_tag @profile_info['photo'], :size => "150x185" %>
					<%= check_box_tag "user[avatar_url]", @profile_info['photo'], nil, :class => "avatar" %>
					<%= f.label I18n.t("users.signup.use_photo") %><br />
				<% end %>
     </div>
		 <% end %>
	</div>
</div>