<% statement_document ||= @statement_documents[my_discussion.statement_id] %>

<% if statement_document %>
	<li id="<%= dom_id(my_discussion) %>" class="<%=my_discussion.class.name.downcase%>">
		<% my_discussion_image(my_discussion) %>
		
    <!-- Statement title -->
		<%= my_discussion_title(statement_document.title, my_discussion) %>

    <!-- Tags -->
		<div class="tags_list"><%= my_discussion.topic_tags %></div>

    <!-- Publish button -->
		<div class="buttons">
		  <%= publish_button_or_state(my_discussion) %>
		</div>
	</li>
<% end %>