
<li id="<%= dom_id membership %>" >
  <span class="column_200">
    <%= h membership.organisation %>
  </span>
  <span class="column_200">
    <%= h membership.position %>
  </span>

  <%= link_to I18n.t('application.general.edit'),
              edit_user_membership_path(membership.user, membership),
              :class => 'ajax text_button edit_text_button' %>
  <%= link_to I18n.t('application.general.delete'),
              user_membership_path(membership.user, membership),
              :class => 'ajax_delete text_button delete_text_button' %>
</li>
