<li id="<%= content %>_<%= type.pluralize %>" class="switch_block">
  <span class="switch">
    <%= check_box_tag("#{content}_#{type}","notify",
                      @user.send("#{content}_#{type}?"),
                      {:id => "#{content}_#{type}_switch".to_sym})%>
  </span>
  <span class="switch_title">
    <%=I18n.t("users.#{type.pluralize}.#{content}.title")%>
  </span>
  <span class="switch_guide">
    <%=I18n.t("users.#{type.pluralize}.#{content}.guide")%>
  </span>
</li>
<%= observe_field "#{content}_#{type}_switch".to_sym,
                  :url => {:controller => :my_echo,
                           :action => "set_#{content}_#{type}".to_sym,
                           :id => @user.id} %>
