<% @function_name = 'connect_roadmap' %>

<div class="roadmap">
  <h1><%= I18n.t('static.echo.connect.title') %></h1>

  <h2><%= I18n.t('application.roadmap.status_quo') %></h2>
  <%= I18n.t('application.roadmap.connect.status_quo', :progress => Development::CONNECT_PROGRESS) %>

  <%# I18n.t('application.roadmap.next_steps') %>
  <%# I18n.t('application.roadmap.connect.next_steps') %>

  <br/><br/>
  <h2><%= I18n.t('application.roadmap.vision') %></h2>
  <p>
    <%= I18n.t('static.echo.connect.text_top') %>

    <ol><%= I18n.t('static.echo.connect.list') %></ol>

    <%= I18n.t('static.echo.connect.text_bottom') %>
  </p>
</div>
