<% form_for @user_session, :url => user_sessions_path, :html => {:class => "echoForm ajax_form", :id => 'new_login_form'} do |f| %>
  <p>
    <%= content_tag :label, I18n.t('application.general.email') %><br />
    <%= f.text_field :email, :class => 'loginField' %>
  </p>
  <p>
    <%= content_tag :label, I18n.t('users.signin.password') %><br />
    <%= f.password_field :password, :class => 'loginField' %><br />
    <%= link_to I18n.t('users.signin.set_password'), new_password_reset_path, :class => "ajax bottomLabel" %>
  </p>
  <br />
  <%= f.submit (I18n.t('users.signin.label'), :class => 'signinButton formButton200') %>
<% end %>