<% style ||= '' %>
<div id="<%= type %>" class='modal_form_container' style="<%= style %>">
  <%= content_tag :span, content_tag(:h1, I18n.t("users.#{type}.label")), :class => "#{type} logo"%>
	<%= toggle_form_field(type) %>
  
	<%= signing_header(type) %>
  <div class='<%= type %>_container'>
  	<%= render :partial => "users/components/signings/#{type}_form"%>
  </div>
  <div class='<%= type %>_container'>
  	<%= send("#{type}_social_link")%>
  </div>
</div>