<% statement_document ||= @statement_documents[discussion.statement_id] %>

<% if statement_document %>
	<li id="<%= dom_id(discussion) %>" class="<%=discussion.class.name.downcase%>">
		<% link_to question_url(discussion), :class => "avatar_holder" do %>
      <%= image_tag discussion.image.url(:small) %>
    <% end %>

    <!-- Statement title -->
		<%= discussion_title(statement_document.title, discussion) %>

    <!-- Tags -->
		<div class="tags_list"><%= discussion.topic_tags %></div>

    <!-- Publish button -->
		<div class="buttons">
		  <%= publish_button_or_state(discussion) %>
		</div>
	</li>
<% end %>