<% statement_node ||= @statement_node %>
<% statement_document ||= @statement_documents[statement_node.statement_id] %>

<% if statement_document %>
	<li id="<%= statement_node_dom_id(statement_node) %>" class="<%=statement_node.class.name.downcase%>">
		<% link_to url_for(statement_node), :class => "avatar_holder" do %>
      <%= image_tag("default_question_image.png") %>
    <% end %>

    <!-- Statement title -->
		<%= discussion_title(statement_document.title, statement_node) %>

    <!-- Tags -->
		<div class="tags_list"><%= statement_node.topic_tags %></div>

    <!-- Publish button -->
		<div class="buttons">
		  <%= publish_button_or_state(statement_node) %>
		</div>
	</li>
<% end %>