<% statement_document ||= @statement_documents[my_question.statement_id] %>

<% if statement_document %>
	<li id="<%= dom_id(my_question) %>" class="<%=my_question.class.name.downcase%>">
		<% my_question_image(my_question) %>
		
    <!-- Statement title -->
		<%= my_question_title(statement_document.title, my_question) %>

    <!-- Tags -->
		<div class="tags_list"><%= my_question.topic_tags %></div>

    <!-- Publish button -->
		<div class="buttons">
		  <%= publish_button_or_state(my_question, :in => :mi) %>
		</div>
	</li>
<% end %>