<% question_document = @statement_documents[question.statement_id] %>
<% question_label = I18n.t("discuss.statements.types.#{dom_class(question)}")%>
<li id="<%= dom_id(question) %>" class="question">
  	<% long_title = question_document.title.length > 70 %>
		<% title = long_title ? "#{question_document.title[0..70]}..." : question_document.title %>
	  <% link_to_question(question_document.title, question, long_title, params[:search_terms]) %>
    <% content_tag :div, :class => 'top' do %>
		  <%= statement_node_context_link(question, "#{question_label} - #{title}", 'current', 
          :bids => @origin, :origin => @origin) %>
			<%= supporter_ratio_bar(question) %>
      <%= supporters_label(question, true) %>
    <% end %>
		<% content_tag :div, :class => 'bottom' do %>
		  <% content_tag :div, :class => 'description' do %>
			 <%= question_document.text.length > 300 ? "#{question_document.text[0..300]}..." : question_document.text%>
			<% end %>
		<% end %>
		<% content_tag :div, :class => 'buttons' do %>
     <%= publish_button_or_state(question, true) %>
    <% end %>
</li>
