<div id="questions_container" class="questions_container discuss_right_block">
	<% content_tag :div, :class => 'header' do %>
	 <%= content_tag :span, '', :class => 'icon' %>
	 <%= content_tag :span, questions_count_text(@count, params[:search_terms]), :class => 'label' %>
	<% end %>
	<% content_tag :div, :class => 'content' do %>
		 <ul>
	    <% unless statement_nodes.empty? %>
	      <%= render :partial => 'statements/questions/questions', :locals => {:statement_nodes => statement_nodes}%>
	    <% else %>
	      <span class="no_results">
	        <%= (!current_user or current_user.spoken_languages.blank?) ?
	            I18n.t('discuss.messages.empty_without_spoken_languages', :my_echo => my_profile_path) :
	            I18n.t('discuss.messages.empty') %>
	      </span>
	      <br/>
	      <% create_first_question_link_for(params[:search_terms]) %>
	    <% end %>
	   </ul>
		 <div class="more_pagination">
      <% if statement_nodes.current_page != statement_nodes.total_pages %>
        <%= more_questions statement_nodes.length, @page %>
      <% end %>
     </div>
	<% end %>
</div>