
<div class="form_container">
  <span class="label"><%= I18n.t("users.concernments.sorts.#{context.code}") %></span>
  <% form_tag url_for(:controller => "users/users", :action => "add_concernments"), :id => "new_concernment_#{context.code}" do -%>
    <%= text_field :tag, :value, :class => 'tag_value_autocomplete', :id => "concernment_#{context.code}_id" %>
    <%# TODO: take this out? %>
    <%= hidden_field_tag 'context_id', context.id %>
    <%= submit_tag I18n.t('application.general.create'), :class => 'text_button add_button', :id => "add_concernment_#{context.code}" %>
  <% end %>
</div>

<div id="concernments_<%= context.code %>" class="tag_container">
  <%= render :partial => 'users/concernments/concernment', :collection => concernments, :locals => {:context => context} %>
</div>

<script type="text/javascript">
  $("#new_concernment_<%= context.code %>").ajaxForm({ dataType: 'script' });
</script>
