

<div class="form_container">
<span class="label"><%= I18n.t("users.concernments.sorts.#{context}") %></span>
  <% form_tag url_for(:controller => "users/users",
                      :action => "add_concernments"),
              :id => "new_concernment_#{context}",
              :class => 'ajax_form' do -%>

    <%= text_field :tag,
                   :value,
                   :class => 'tag_value_autocomplete',
                   :id => "concernment_#{context}_id" %>
    <%= hidden_field_tag 'context', context %>
    <%= submit_tag I18n.t('application.general.save'),
                   :class => 'text_button save_text_button',
                   :id => "add_concernment_#{context}" %>
    <%= content_tag :span, I18n.t('help.profile.closed_discussions.hint'),
                    :class => 'icon_label help_on_icon ttLink no_border',
                    :title =>  I18n.t('help.profile.closed_discussions.text') if context == 'decision_making' %>
  <% end %>
</div>

<div id="concernments_<%= context %>" class="tag_container">
  <%= render :partial => 'users/concernments/concernment',
             :collection => concernments.to_a,
             :locals => {:context => context} %>
</div>
