<% content_for :tabContainer do %>
  <%= tabnav 'static_echosocial' %>
<% end %>

<% insert_breadcrumb(echosocial_path, echosocial_path(:benefits)) %>

<h3><%= I18n.t('static.echosocial.show.benefits.title') %></h3>
<%= I18n.t('static.echosocial.show.benefits.text_1') %>


<ul class="spreadedList">
	<li>
		<strong><%= I18n.t('static.echosocial.show.benefits.toolbox.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echosocial.show.benefits.toolbox.text')) %>
	</li>
	<li>
		<strong><%= I18n.t('static.echosocial.show.benefits.cooperation.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echosocial.show.benefits.cooperation.text')) %>
	</li>
	<li>
		<strong><%= I18n.t('static.echosocial.show.benefits.coverage.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echosocial.show.benefits.coverage.text')) %>
	</li>
</ul>
<%= I18n.t('static.echosocial.show.benefits.text_2') %>

<% insert_illustrations([echosocial_path(:about),echosocial_path(:features),echosocial_path(:benefits)], {:domain => "echosocial"}) %>
<%# insert_back_next_buttons(echo_path(:discuss), echo_path(:act)) %>