<% content_for :tabContainer do %>
  <%= tabnav 'static_echosocial' %>
<% end %>

<% insert_echosocial_breadcrumb(echosocial_path, echosocial_path(:extensions)) %>

<%= I18n.t('static.echosocial.extensions.text') %>

<ul class="spreadedList">
  <li>
    <strong><%= I18n.t('static.echosocial.extensions.toolbox.title') %></strong>
    <% insert_toggle_more(I18n.t('static.echosocial.extensions.toolbox.text')) %>
  </li>
  <li>
    <strong><%= I18n.t('static.echosocial.extensions.cooperation.title') %></strong>
    <% insert_toggle_more(I18n.t('static.echosocial.extensions.cooperation.text')) %>
  </li>
  <li>
    <strong><%= I18n.t('static.echosocial.extensions.coverage.title') %></strong>
    <% insert_toggle_more(I18n.t('static.echosocial.extensions.coverage.text')) %>
  </li>
</ul>

<% insert_illustrations([echosocial_path(:show), echosocial_path(:features), echosocial_path(:extensions)], "echosocial") %>
