<% children ||= @children %>

<div class="sub_list">
  <ul id="children_list" class="children_pagination">
    <% unless children.blank? %>
      <% last_child = children.pop -%>
      <% children.each do |statement_node| %>
        <%= render :partial => 'statements/child',
                   :locals => { :child => statement_node} %>
      <% end %>
      <%= render :partial => 'statements/child',
                 :locals => { :child => last_child,
                              :extra_classes => "active" } %>
    <% end %>

    <%if children.blank? or children.current_page == children.total_pages %>
      <li>
        <%= create_new_child_statement_link(@statement_node) %>
      </li>
    <%end%>
  </ul>
	<span class="pagination_loading"><%= I18n.t("application.general.loading")%></span>
	<div id="more_pagination" class="more_pagination">
		<% if !children.blank? and children.current_page != children.total_pages %>
		  <%= link_to I18n.t("application.general.more"), children_url(@statement_node, statement_node_class_dom_id(@statement_node).downcase, :page => 1), :class => 'more_children ajax' %>
	  <% end %>
	</div>
</div>

