<% children ||= @children %>
<% path = children.kind_of?(String) ? children : '' %>
<div class="<%= type.pluralize %> children header_block discuss_right_block">
  <!-- Title -->
  <div class="headline expandable<%= ' active' if path.blank? %>" href="<%= path %>">
    <%= children_box_title(type) %>
    <%= content_tag :div, '', :class => 'expand_icon' %>
  </div>

  <!-- The children -->
	<% if children and children.kind_of?(Array) %>
  <%= render :partial => type.classify.constantize.children_list_template,
             :locals => {:type => type, :children => children, :parent => @statement_node, :display => true, :new_level => true}%>
	<% end %>
</div>
