<% statement_node ||= @statement_node -%>
<% tags ||= @tags %>
<% statement_document ||= @statement_document %>

<div id="new_statement">

  <!-- Illustration -->
  <%= statement_form_illustration(statement_node) %>

  <!-- The block with the form -->
  <div class="header_block discuss_right_block">
    <%= content_tag :h2, children_new_box_title(statement_node) %>
    
    <%= content_tag :p, I18n.t("discuss.statements.create_#{statement_node.class.name.underscore}_explanation") %>
    
    <%= render :partial => 'statements/form',
               :locals => {:statement_node => statement_node,
                           :tags => tags,
                           :statement_document => statement_document } %>
  </div>
</div>

<script type="text/javascript">
  $j('#new_<%=statement_node_class_dom_id(statement_node)%>').ajaxForm({ dataType : 'script' });
</script>

