<% statement_node ||= @statement_node %>
<% only_header ||= false %>
<% hide_content ||= false %>
<div id="<%=dom_id(statement_node)%>" class="statement <%=dom_class(statement_node)%>" data-siblings=<%= @siblings ? @siblings[dom_id(statement_node)].to_json : '' %>>
  <%= render :partial => 'statements/header', :locals => {:statement_node => statement_node, :only_header => only_header, :hide_content => hide_content} %>
	<% if !only_header or hide_content %>
	  <%= render :partial => 'statements/content', :locals => {:statement_node => statement_node, :hide_content => hide_content} %>
	<% end %>
</div>