
<% statement ||= @statement %>
<div id="summary" class="summary simple_header_block discuss_right_block">
  <h2><%= I18n.t('discuss.summary') %></h2>
  <%= edit_statement_link(statement) %>
	<% if @translation_permission %>
	  <div class="translation_box rounded-box rounded-box-gray-itow with-header <%= @translation_permission ? '' : 'display: none' %>">
	    <span class="box_header"><%= link_to I18n.t('discuss.translation_request'), '' %></span>
	    <span class="box_header_icon"></span>
		  <span class="box_header_info"><%= params[:locale].upcase%></span>
	  </div>
	<% end %>
  <p><%= statement.translated_document(current_language_keys).text %></p>
</div>
