<% statement_node ||= @statement_node %>
<% statement_document ||= @statement_document %>

<div class="summary simple_header_block discuss_right_block">
	
  <!-- Function buttons -->
	<%= function_buttons(statement_node, statement_document) %>
  <!-- Header -->
  <%= content_tag :h2, I18n.t("discuss.statements.types.#{dom_class(statement_node)}") %>
	<%= render_authors statement_node, current_user, @authors if current_user and @authors %>
  <!-- Motivate people to translate the document -->
	<%= render :partial => '/statements/translation_link',
             :locals => {:statement_node => statement_node,
                         :statement_document => statement_document} if @translation_permission %>
	<%= render :partial => '/statements/set_languages' if @set_language_skills_teaser %>
  <!-- Show the document -->
  <div class="statement_content">
  	<%= statement_image(statement_node) %>
    <%= sanitize statement_document.text %>
  </div>

  <!-- Approved document -->
  <%= render :partial => 'statements/approved' unless @approved_node.nil? %>

</div>
