<% statement_node ||= @statement_node %>
<% statement_document ||= @statement_document %>

<div id="summary" class="summary simple_header_block discuss_right_block">

  <!-- Function buttons -->
  <%= edit_statement_node_link(statement_node, statement_document) %>
  <%= publish_statement_node_link(statement_node, statement_document) %>

  <!-- Header -->
  <h2>
    <%= I18n.t('discuss.summary.title') %>
  </h2>

  <!-- Motivate people to translate the document -->
	<%= render :partial => '/statements/translation_link',
             :locals => {:statement_node => statement_node,
                         :statement_document => statement_document} if @translation_permission %>

	<%= render :partial => '/statements/original_language_warning',
             :locals => {:statement_node => statement_node,
                         :statement_document => statement_document} if @original_language_warning %>

  <!-- Show the document -->
  <p>
    <%=h statement_document.text %>
  </p>
</div>
