<% statement ||= @statement %>
<% statement_document ||= @statement_document %>
<div id="summary" class="summary simple_header_block discuss_right_block">
  <h2><%= I18n.t('discuss.summary') %></h2>
  <%= edit_statement_link(statement) %>
	<%= render :partial => '/statements/translation_link', :locals => {:statement => statement, :statement_document => statement_document} if @translation_permission %>
	<%= render :partial => '/statements/original_language_warning', :locals => {:statement => statement, :statement_document => statement_document} if @original_language_warning %>
  <p><%= statement_document.text %></p>
</div>
