<%# Shows the form for uploading a new statement image, ajaxifys it and shows a
  # progress indicator.
%>

<p>
  <%= I18n.t('discuss.statements.upload_image.guide') %>
</p>

<% semantic_form_for @statement_node, :html => { :multipart => true, :id => 'upload_image_form' } do |form| %>
  <% form.inputs do %>
    <%= form.input :image %>
  <% end %>
<% end %>

<div id="uploading_progress" style="display:none;">
  <%= I18n.t('discuss.statements.upload_image.progress') %> <%= image_tag 'indicator.gif' %>
</div>

<script type="text/javascript">
  /* Hijack the submit function of the upload picture form. Add some callbacks:
   *   beforeSend: show progress indicator.
   *   complete:   hide progress indicator.
   *   success:    reload all pictures through ajax and close dialog.
   * Return false to stop normal http processing. */
  $('#upload_image_form').submit(function() {
    $(this).ajaxSubmit({
      beforeSend: function() { $('#uploading_progress').show(); },
      complete:   function() { $('#uploading_progress').hide(); },
      success:    function(data, status) {
				$.ajax({type:'get', dataType: 'script', url:"<%= reload_image_url(@statement_node, statement_node_class_dom_id(@statement_node), :date => @statement_node.image.updated_at) %>"});
        $('#dialogContent').dialog('close');
      }
    });
    return false;
  });
</script>
