/* Show a statement_node through changing the parts of the page with the corresponding partials. */

<% if defined? @info %>
  info('<%= @info %>');
<% end %>
<% if defined? @error %>
  error('<%= @error %>');
<% end %>

var context  = "<%= escape_javascript(render :partial => 'statements/context') %>";
var sidebar  = "<%= escape_javascript(render :partial => 'statements/sidebar') %>";
var summary  = "<%= escape_javascript(render :partial => 'statements/summary') %>";
var approved = "<%= escape_javascript(render :partial => 'statements/approved') %>";
var children = "<%= escape_javascript(render :partial => 'statements/children') %>";
var echoable = <%= @statement_node.echoable? %>

$('#context').replaceWith(context);
$('#discuss_sidebar').replaceWith(sidebar);
if (echoable) {
  $('#discuss_sidebar').show();
} else {
  $('#discuss_sidebar').hide();
}
$('#summary').replaceWith(summary);
if($('#approved_ip').size() == 0)
  $('<div id="approved_ip"></div>').insertAfter('#summary');
$('#approved_ip').replaceWith(approved);
if($('#children').size() == 0)
  $('<div id="children"></div>').insertAfter('#summary');
$('#children').replaceWith(children);
if($('#new_statement').size() != 0)
  $('#new_statement').remove();
if($('#new_translation').size() != 0)
  $('#new_translation').remove();

makeRatiobars();
makeTooltips();
roundCorners();
showMessageBox("#translation_box", <%= @translation_permission %>);
showMessageBox("#original_language_box", <%= @original_language_warning %>);
