<% @function_name = 'my_echo_roadmap' %>

<div class="roadmap">
  <h1><%= I18n.t('layouts.tabs.my_echo') %></h1>

  <h2><%= I18n.t('application.roadmap.status_quo') %></h2>
  <%= I18n.t('application.roadmap.my_echo.status_quo', :progress => Development::MY_ECHO_PROGRESS) %>

  <%# I18n.t('application.roadmap.next_steps') %>
  <%# I18n.t('application.roadmap.my_echo.next_steps') %>

  <br/><br/>
  <h2><%= I18n.t('application.roadmap.vision') %></h2>
  <%= I18n.t('application.roadmap.my_echo.vision') %>
</div>