<h1>Editing tag</h1>

<% form_for :tag, @tag, :url => { :action => "edit" }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', hash_for_tags_path.merge({:action => :show, :id => @tag.id}) %> |
<%= link_to 'Back', tags_path %>