<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= I18n.t('mailers.activity_tracking.subject', :locale => @language.code) %></title>
  </head>

  <body>
  	<h2><%= I18n.t('mailers.activity_tracking.subject', :locale => @language.code) %></h2>

		<%= render :partial => "activity_tracking_mailer/activity_templates/questions_activity_template",
               :locals => {:questions => @question_events, :tags => @question_tags}%>

    <br/>

    <% main_root = nil %>
    <% main_parent = nil %>
    <% @events.each do |e|%>
      <% event_data = JSON.parse(e.event) %>
      <% root_id = event_data[event_data.keys[0]]['root_id'] %>
      <% parent_id = event_data[event_data.keys[0]]['parent_id'] %>
      <% root = root_id.nil? ? Question.find(parent_id) : Question.find(root_id)%>
      <% parent = root_id.nil? ? Question.find(parent_id) : Proposal.find(parent_id) %>
      <% if parent.class == Question and root != main_root %>
        <% main_root = root %>
          <br/>
          <%= I18n.t('mailers.activity_tracking.discussions.new_proposals',
                     :title => parent.statement.statement_documents[0].title,
                     :locale => @language.code) %>
          <ul>
      <% end %>
      <% if parent.class == Proposal and parent != main_parent %>
        <% main_parent = parent %>
          </ul>
          <br/>
          <%= I18n.t('mailers.activity_tracking.discussions.new_improvement_proposals',
                     :title => parent.statement.statement_documents[0].title,
                     :question_title => root.statement.statement_documents[0].title,
                     :locale => @language.code) %>
          <ul>
      <% end %>
      <li>
        <%= render :partial => "activity_tracking_mailer/activity_templates/#{event_data.keys[0]}_activity_template",
                   :locals => {:event => e}%>
      </li>
    <% end %>
    </ul>

    <p><%= I18n.t('mailers.signature_as_html') %></p>
    <br/>
    <p><%= I18n.t('mailers.activity_tracking.unsubscribe', :echo_url => root_url) %></p>

  </body>
</html>

