<% form_tag user_web_address_path(@user, @web_address), :method => :put, :id => dom_id(@web_address, :edit) do -%>

  <%= select :web_address, :sort, WebAddress.sorts.collect { |k,v| [v,k] }, { :selected => @web_address.sort } %>    
  <%= text_field :web_address, :location %>
  <%= hidden_field :user_id, :value => @user.id %>
  <%= submit_tag I18n.t('application.general.save'), :class => 'text_button save_button' %>
  <span class="or_button"><%= I18n.t('application.general.or') %></span>  
  <%= link_to I18n.t('application.general.cancel'), user_web_address_path(@user, @web_address), :class => 'ajax text_button cancel_button' %>

<%- end %>

<script type="text/javascript">
  $("#<%= dom_id(@web_address, :edit) %>").ajaxForm({ dataType: 'script' }); 
</script>
