<% @profile = profile if defined?(profile) %>

<li id="<%= dom_id(@profile) %>" class="content profile">
  <span class="name"><%=h @profile.full_name %></span> <br/>
  <span class="location_orga">
    <%=h @profile.location %><br/>
    <%=h @profile.first_membership %>
  </span>
  <span class="close_hint" style="display: none;">
    <%= I18n.t('application.general.close') %>
  </span>

  <% open_profile_details @profile %>

</li>
