<div id="missionStatementContainer" class="rounded-box rounded-box-green-iwot">
	<div class="statement">
		<%= image_tag "page/illustrations/state_1_#{params[:locale]}.jpg" %>
	</div>
	<div class="statement">
		<%= image_tag "page/illustrations/state_2_#{params[:locale]}.jpg" %>
	</div>
	<div class="statement">
		<%= image_tag "page/illustrations/state_3_#{params[:locale]}.jpg" %>
	</div>
	<div class="statement">
		<%= image_tag "page/illustrations/state_4_#{params[:locale]}.jpg" %>
	</div>
	<div class="statement">
		<div class="echoButtonBigHolder">
		  <%#= link_to('<span class="echoButtonBig"></span>', {:url => echo_path}, :href => echo_path, :class => 'ajaxLink') %>
		  <%= link_to '<span class="echoButtonBig"></span>', discuss_path %>
		  <span class="echoActionBig"><%= I18n.t('static.echologic.show.action') %></span>
		</div>
	</div>
</div>

<script type="text/javascript">
$('#missionStatementContainer').cycle({ 
    timeout: 5000
}); 
</script>