<div id="missionStatementContainer" class="rounded-box rounded-box-green-iwot">
	<div>
		<%= image_tag "page/teasers/echologic_teaser_1_#{params[:locale]}.png" %>
	</div>
	<div>
		<%= image_tag "page/teasers/echologic_teaser_2_#{params[:locale]}.png" %>
	</div>
	<div>
		<%= image_tag "page/teasers/echologic_teaser_3_#{params[:locale]}.png" %>
	</div>
	<div>
		<%= image_tag "page/teasers/echologic_teaser_4_#{params[:locale]}.png" %>
	</div>
  <%= render :partial => 'static/echologic/jump_in_button' %>
</div>

<script type="text/javascript">
$('#missionStatementContainer').cycle({
    timeout: 5000
});
</script>
