<%about_path ||= static_path(:about)%>
<%logout ||= true%>

<div id="topMenuContainer">

  <%= link_to I18n.t('layouts.outer_menu.logout'), user_session_path, :method => :delete, :id => 'logout_button' if current_user_session and logout %>

  <%= link_to(I18n.t('layouts.outer_menu.about'), about_path, :id => 'about_echo_button', :class => 'outerMenuItem') %>

  <%= link_to(I18n.t('layouts.outer_menu.feedback'), new_feedback_path, :id => 'feedback_button', :class => 'outerMenuItem') %>

  <%= link_to "Blog", "http://blog-echologic.org", :id => 'blog_button', :target => "_blank"%>

  <!-- Language choose section. -->
  <% link_to('#', :id => 'echo_language_button') do %>
     <%= I18n.t('layouts.outer_menu.language') %>
  <% end %>

  <div id="language_selector" class="rounded-box rounded-box-green-iwot" style="display:none;">
    <ul>
      <li><%= link_to "English", request.request_uri.split("/").fill("en",1..1).join('/') %></li>
      <li><%= link_to "Deutsch", request.request_uri.split("/").fill("de",1..1).join('/') %></li>
			<li><%= link_to "Español", request.request_uri.split("/").fill("es",1..1).join('/') %></li>
      <%=  %>
    </ul>
  </div>
</div>
