
<%= t('user_mail.new.guide') %>

<%= image_tag('page/illustrations/feedback.png', :id => 'feedbackIllustration') %>

<% form_for :user_mail, :url => send_user_mail_path(@user),
            :html => { :id => 'new_user_mail_form', :class => 'echoForm'} do |f| %>

  <p>
    <%= label_tag I18n.t('user_mail.new.subject'), nil %><br />
    <%= f.text_field :subject %><br/>
  </p>

  <p>
    <%= label_tag I18n.t('user_mail.new.text'), nil %><br/>
    <%= f.text_area :text, :rows => 4, :cols => 30, :html => {:id => 'user_mail_text'} %>
  </p>
	
	<noscript>
		<%= f.submit(I18n.t('application.general.send'), :class => 'formButton200') %>
	</noscript>

<% end %>

<script type="text/javascript">
	$('#new_user_mail_form').ajaxForm({ dataType : 'script' });
</script>