<div class='registry'>
  <div id="reset_password" class='registry_container'>
     <%= content_tag :span, content_tag(:h1, I18n.t('users.password_reset.step1')), :class => 'password_resets logo'%>
		 <p>
		  <%= I18n.t('users.password_reset.step1_text') %>
		</p>
     <% form_tag password_resets_path, :class => "echoForm ajax_form", :id => 'reset_password_form' do  %>
     <div class='setup_basic_profile_container'>
        <p>
			    <%= label_tag I18n.t('application.general.email') %><br/>
			    <%= text_field_tag "email" %>
			  </p>
        
        
        <%= tag('br');tag('br') %>
				<%= submit_tag I18n.t('users.password_reset.step1_mail'), :class => 'signinButton formButton200' %>
     </div>
     <div class='setup_basic_profile_container'>
        
     </div>
     <% end %>
  </div>
</div>
