<div id="about_container" class="tab_details_container discuss">
  <ul id="about_tabs">
    <li><a href="#project"><%= I18n.t('static.echologic.about.tabs.project') %></a></li>
    <li><a href="#team"><%= I18n.t('static.echologic.about.tabs.team') %></a></li>
  </ul>

  <div id="project" class="tab_content_container">
    <%= I18n.t('static.echologic.about.text') %>
    <%= render :partial => 'sponsors' %>
  </div>
  <div id="team" class="tab_content_container">
    <%= render :partial => 'team' %>
  </div>
</div>
