<% insert_breadcrumb(echologic_path, echologic_path) %>

<span id="echoTeaser"><%= I18n.t('static.echologic.show.teaser') %></span>



<br/>
<br/>
<strong><%= I18n.t('static.echologic.show.action') %></strong>
<% insert_toggle_more(I18n.t('static.echologic.show.teaser_more')) %>
<br/>
<br/>
<br/>
<%#= I18n.t('static.echologic.show.teaser_more') %>

<div class="echoButtonBigHolder">
  <%#= link_to('<span class="echoButtonBig"></span>', {:url => echo_path}, :href => echo_path, :class => 'ajaxLink') %>
  <%= link_to '<span class="echoButtonBig"></span>', discuss_path %>
  <span class="echoActionBig"><%= I18n.t('static.echologic.show.action') %></span>
</div>

<%= render :partial => 'sponsors' %>
