<% insert_breadcrumb(echologic_path, echologic_path) %>

<%= I18n.t('static.echologic.show.text_1',
    :gender_tooltip => I18n.t('static.echologic.show.gender_tooltip'),
    :subsidiarity_tooltip => I18n.t('static.echologic.show.subsidiarity_tooltip')) %>

<ul class="spreadedList">
	<li>
		<strong><%= I18n.t('static.echologic.show.text_2.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echologic.show.text_2.more')) %>
	</li>
	<li>
		<strong><%= I18n.t('static.echologic.show.text_3.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echologic.show.text_3.more', :github_url => GITHUB_URL)) %>
	</li>
	<li>
		<strong><%= I18n.t('static.echologic.show.text_4.title') %></strong>
		<% insert_toggle_more(I18n.t('static.echologic.show.text_4.more')) %>
	</li>
</ul>

<%= render :partial => 'jump_in_button' %>

<%= render :partial => 'sponsors' %>
