<% statement_node ||= @statement_node %>
<% new_statement_document ||= @new_statement_document %>
<% statement_document ||= @statement_document %>

<div class="translation_box_class rounded-box rounded-box-gray-itow with_bg_bw_grad_small">
	<%= translation_upper_box statement_document.language.value.upcase,
                          Language[params[:locale]].value.upcase %>
</div>

<%= render :partial => "statements/form/document_form",
           :locals => { :form => form,
                        :disabled => true } %>
<%= render :partial => "statements/form/translate_document_form",
           :locals => { :form => form,
                        :new_statement_document => new_statement_document} %>
<br/>

<%= form.hidden_field :parent_id %>
<%= form.hidden_field :state_id, :value => StatementState[:published].id %>


<!-- Save and cancel buttons -->
<% form.buttons do %>
  <%= form.commit_button I18n.t('application.general.save'),
                         :button_html => { :alt => 'save_button' } %>
  <%= content_tag :span, I18n.t('application.general.or'), :class => "or_cancel" %>
  <%= cancel_edit_statement_node(statement_node, statement_document.locked_at) %>
<% end %>
