<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= request[:locale] %>" lang="<%= request[:locale] %>">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% title= request[:controller].gsub('/','.') + "." +  request[:action] -%>
    <title><%= I18n.t('seo.title.' + title) %></title>
    <meta name="description" content="<%= I18n.t('seo.meta.echo.description') %>"/>
    <meta name="keywords" content="<%= I18n.t('seo.meta.echo.keywords') %>"/>
    <link rel="shortcut icon" href="/images/echo_browser_icon.png" type="image/gif" />

		<!-- Stylesheets -->
    <%= stylesheet_link_tag 'echologic',
                            'application',
                            'tabs',
                            'jquery.autocomplete',
                            'jquery-ui-1.7.2.custom',
                            'jquery.rte',
                            'jScrollPane',
                            'formtastic',
                            'formtastic_changes',
                            'admin',
                            'embed',
                            :cache => 'echo_admin' %>

		<!-- Javascript -->
    <%= javascript_include_tag 'jquery'%>
    <%= javascript_include_tag 'temp/prototype' %>
		<%= javascript_include_tag :fckeditor %>
    <%= active_scaffold_includes %>

  	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>

  </head>


  <% content_tag :body do %>

    <% content_tag :div, :id => 'header' do %>
      <% content_tag :div, :class => 'main_logo' do %>
        <%= link_to(image_tag('page/echo_logo.png'), current_user ? discuss_search_path : root_path) %>
        <%= image_tag('page/beta_label.png', :class => 'label') %>
      <% end %>
      <%= render :partial => "users/user_sessions/login" %>
    <% end %>

    <%= tabnav :main %>
    <% content_tag :div, :id => 'app_container' do %>
      <% content_tag :div,
                     :id => 'echo_' + (@function_name || 'function'),
                     :class => 'function_container' do %>
        <%= yield %>
      <% end %>
      <%= content_tag :span, '', :class => 'border bottom' %>
      <%= content_tag :span, '', :class => 'border top' %>
    <% end %>

  <% end %>

</html>
