<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/echo_browser_icon.png" type="image/png" />
    <title><%= yield :title %></title>

    <style type="text/css">

      body {
        font-family: "Lucida Sans",Arial,Helvetica,sans-serif;
        font-size: 14px;
        color: #21587f;
      }

      h1 {
        font-size: 28px;
        color: #7bb031;
        margin: 0 0 25px -2px;
        padding: 0;
      }

      a, a:hover, a:visited {
        color: #21587f;
        text-decoration: underline;
      }

      #mail_container {
        width: 550px;
        margin: 0 auto;
        padding: 0;
      }

      #show_online {
        width: 100%;
        text-align: center;
        padding: 5px 0;
        font-size: 13px;
      }

      #mail_header {
        height: 90px;
        margin: 10px 0;
        padding: 10px 0;
        border-top: 3px solid #7BB031;
        border-bottom: 3px solid #7BB031;
      }

      #mail_logo {
        float: left;
        border: none;
      }

      #links_label {
        font-size: 20px;
        font-weight: bold;
        float: right;
        position: relative;
        top: 4px;
        cursor: default;
      }

      .web_link {
        background: url(<%= full_url('/images/mails/mail_links.png') %>) no-repeat scroll left top;
        width: 32px;
        height: 32px;
        float: right;
        margin-left: 13px;
        position: relative;
        top: 13px;
      }

      #echo_link {
        background-position: 0 0;
        width: 38px;
      }

      #blog_link {
        background-position: -38px 0;
      }

      #twitter_link {
        background-position: -70px 0;
      }

      #facebook_link {
        background-position: -102px 0;
        clear: right;
      }

      #content_container {
        margin: 10px 0;
        padding: 10px 5px;
      }

      .separator {
        width: 100%;
        padding: 20px 0 10px;
      }

      #unsubscribe {
        font-size: 13px;
        font-style: italic;
      }

    </style>
  </head>

  <body>
    <div id="mail_container">

      <div id="show_online"><%= link_to(I18n.t('mailers.show_online'), @online_url) %></div>

      <div id="mail_header">
        <% link_to root_url do %>
          <img id="mail_logo" src="<%= full_url('/images/mails/echo_beta_logo.png') %>" alt="echo - the global agora"/>
        <% end %>

        <%= content_tag :div, I18n.t('mailers.header.follow_echo'), :id => 'links_label' %>
        <% link_to 'http://facebook.com/echo.agora', :target => '_blank' do %>
          <span id="facebook_link" class="web_link"></span>
        <% end %>
        <% link_to 'http://twitter.com/echologic', :target => '_blank' do %>
          <span id="twitter_link" class="web_link"></span>
        <% end %>
        <% link_to 'http://blog.echo.to', :target => '_blank' do %>
          <span id="blog_link" class="web_link"></span>
        <% end %>
        <% link_to 'http://echo.to', :target => '_blank' do %>
          <span id="echo_link" class="web_link"></span>
        <% end %>
      </div>

      <div id="content_container">
        <h1><%= yield :title %></h1>
        <%= content_tag :p, I18n.t('mailers.greeting',
                                   :name => @name,
                                   :locale => @language.code) unless @no_greeting%>
        <br/>
        <%= yield %>
        <br/>
        <%= content_tag :p, I18n.t('mailers.bye_as_html',
                                   :locale => @language.code) unless @no_goodbye %>
        <img class="separator"
             src="<%= full_url('/images/page/separator_no_shadow.png') %>"/>
        <%= content_tag :p, I18n.t('mailers.signature_as_html',
                                   :locale => @language.code) %>
        <br/>
        <p id="unsubscribe">
          <%= yield :unsubscribe %>
        </p>
      </div>
    </div>
  </body>
</html>
