<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/echo_browser_icon.png" type="image/png" />
    <title><%= yield :title %></title>
    <style type="text/css">
      a, a:hover, a:visited {color: #21587f; text-decoration: underline; }
      .statement_link a, .statement_link a:visited {text-decoration: none; font-weight: bold; padding-left: 5px; vertical-align: top;}
      .statement_link a:hover {color: #7bb031 !important;}
      li.statement_link {list-style: none; margin: 7px 0;}
    </style>
  </head>

  <body style="margin: 0 0 15px; background: #ffffff; color: #21587f; font-size: 14px; font-family: Lucida Sans,Arial,Helvetica,sans-serif;">

    <%= yield :show_online %>

    <table id="mail_container" style="width: 600px;" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2">
          <div style="background: #7bb031; width: 600px; height:3px; margin: 10px 0;"></div>
        </td>
      </tr>
      <tr id="mail_header">
        <td align="left">
          <% link_to root_url do %>
            <img id="echo_logo" alt="echo - the global agora"
                 src="<%= full_url('/images/mails/echo_beta_logo.png') %>"
                 style="border: none;"/>
          <% end %>
        </td>

        <td align="right">
          <%= content_tag :div, I18n.t('mailers.header.follow_echo'),
                          :id => 'links_label',
                          :alt => I18n.t('mailers.header.follow_echo'),
                          :style => "font-size: 20px; font-weight: bold; cursor: default;" %>

          <a href="http://echo.to" target="_blank" alt="echo" style="text-decoration: none;">
            <img id="echo_link"
                 src="<%= full_url('/images/mails/echo_icon.png') %>"
                 style="margin: 13px 0 10px 10px; border: none"/>
          </a>
          <a href="http://blog.echo.to" target="_blank" alt="echo Blog" style="text-decoration: none;">
            <img id="blog_link"
                 src="<%= full_url('/images/mails/blog_icon.png') %>"
                 style="margin: 13px 0 10px 10px; border: none;"/>
          </a>
          <a href="http://twitter.com/echologic" target="_blank" alt="Twitter" style="text-decoration: none;">
            <img id="twitter_link"
                 src="<%= full_url('/images/mails/twitter_icon.png') %>"
                 style="margin: 13px 0 10px 10px; border: none"/>
          </a>
          <a href="http://facebook.com/echo.agora" target="_blank" alt="Facebook" style="text-decoration: none;">
            <img id="facebook_link"
                 src="<%= full_url('/images/mails/facebook_icon.png') %>"
                 style="margin: 13px 0 10px 10px; border: none"/>
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div style="background: #7bb031; width: 600px; height:3px; margin: 10px 0 5px;"></div>
        </td>
      </tr>

      <tr id="content_container">
        <td colspan="2">
          <h1 style="font-size: 28px; color: #7bb031; margin: 20px 0 25px; padding: 0;">
            <%= yield :title %>
          </h1>
          <%= content_tag(:p, I18n.t('mailers.greeting',
                                     :name => @name,
                                     :locale => @language.code),
                          :style => 'font-size: 14px; font-family: Lucida Sans,Arial,Helvetica,sans-serif;') unless @no_greeting %>
          <div style="margin: 10px 0; font-size: 14px; font-family: Lucida Sans,Arial,Helvetica,sans-serif;">
            <%= yield %>
          </div>

          <%= content_tag(:p, I18n.t('mailers.bye_as_html',
                                     :locale => @language.code),
                          :style => 'font-size: 14px; font-family: Lucida Sans,Arial,Helvetica,sans-serif;') unless @no_goodbye %>
          <img class="separator"
               src="<%= full_url('/images/page/separator_no_shadow.png') %>"
               style="width: 100%; padding: 20px 0 10px;"/>
          <%= content_tag(:p, I18n.t('mailers.signature_as_html',
                                     :locale => @language.code),
                          :style => 'font-size: 14px; font-family: Lucida Sans,Arial,Helvetica,sans-serif;') %>
          <br/>
          <p id="unsubscribe" style="font-size: 13px; font-style: italic;">
            <%= yield :unsubscribe %>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
